*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  list-style-type: none;
}

body {
  background-color: rgb(40, 53, 77);
  width: 100vw;
}

.board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 480px;
  background-color: rgb(232, 235, 238);
  border-radius: 10px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.grid li {
  background-color: rgb(40, 53, 77);
  padding: 15px;
  border-radius: 20%;
}

.grid img {
  width: 100%;
}
