*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  --orangeHighlight: rgb(244, 168, 45);
  --blueGrey: rgb(190, 205, 217);
  --darkBlue: rgb(38, 56, 72);
}

body {
  width: 100vw;
  background-color: var(--darkBlue);
}

body button {
  padding: 8px 24px;
  border-radius: 25px;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--blueGrey);
}

header {
  width: 100%;
  padding: 40px 0;
  background-color: var(--darkBlue);
  color: var(--orangeHighlight);
}

header section {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
header h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

/* Main Gameboard */
.board-container {
  width: 480px;
  padding: 40px 40px 0 40px;
  background-color: rgb(232, 235, 238);
  border-radius: 10px;
  margin: 0 auto;
}

.board-container ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.icon {
  background-color: rgb(51, 64, 88);
  border-radius: 50%;
  cursor: pointer;
}

.icon img {
  padding: 15px;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.is-inactive {
  cursor: none;
  background-color: var(--blueGrey);
}

.is-inactive img {
  opacity: 0.8;
}

.is-flipped img {
  opacity: 1;
}

.currentScoreboard {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  border-top: solid 1px var(--blueGrey);
  display: flex;
  justify-content: space-evenly;
}

.currentScoreboard p {
  text-align: center;
  font-weight: 400;
  color: var(--darkBlue);
}

.currentScoreboard p span {
  display: block;
  color: var(--orangeHighlight);
  font-size: 4rem;
  font-weight: 800;
}
